body {
    font-family: sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    color: #474747;
}

a {
    text-decoration: none;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 150px;
}

nav {
    position: fixed;
    z-index: 9999;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    transition: 0.2s;
    border: #BFC0C8 4px solid;
    background: url(menu.svg) no-repeat center center;
    background-color: white;
    background-size: 70%;
}

nav:hover {
    transition: 0.2s;
    background-color: #ECECEC;
}

nav:focus,
nav:active {
    outline: none;
}

nav.expanded {
    bottom: 20px;
    overflow-y: scroll;
    width: auto;
    height: auto;
    padding: 50px 70px 0 40px;
    transition: 0.2s;
    background: white;
}

nav > ol {
    visibility: hidden;
}

nav ol {
    list-style: none;
}

ol.expanded {
    visibility: visible;
    padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    display: block;
    margin: 20px 0;
}

h1 {
    font-size: 3em;
}

h1::before {
    position: absolute;
    left: -1em;
    display: block;
    content: '#';
    text-align: right;
    opacity: 0.2;
}

h2 {
    font-size: 2.25em;
}

h2::before {
    position: absolute;
    left: -1.7em;
    display: block;
    content: '##';
    text-align: right;
    opacity: 0.2;
}

h3 {
    font-size: 1.755em;
}

h3::before {
    position: absolute;
    left: -2.4em;
    display: block;
    content: '###';
    text-align: right;
    opacity: 0.2;
}

h4 {
    font-size: 1.68em;
}

h4::before {
    position: absolute;
    left: -3em;
    display: block;
    content: '####';
    text-align: right;
    opacity: 0.2;
}

h5 {
    font-size: 1.245em;
}

h5::before {
    position: absolute;
    left: -3.7em;
    display: block;
    content: '#####';
    text-align: right;
    opacity: 0.2;
}

h6 {
    font-size: 1.125em;
}

h6::before {
    position: absolute;
    left: -4.2em;
    display: block;
    content: '######';
    text-align: right;
    opacity: 0.2;
}

li {
    margin: 10px 0;
}

table {
    margin-bottom: 10px;
    border-collapse: collapse;
}

tr {
    text-align: left;
}

th,
td {
    padding: 5px 0;
    padding-right: 25px;
}

@media only screen and (max-width: 760px) {
    body {
        font-size: 0.9em;
        line-height: 1.5;
    }
    .content {
        padding: 90px 50px;
    }
    nav {
        top: 20px;
        right: 20px;
        left: 20px;
        width: auto;
        height: 30px;
        border: #BFC0C8 3px solid;
        background-size: 20px 20px;
    }
    nav.expanded {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        padding: 20px 30px 0 10px;
        border: #BFC0C8 3px solid;
    }
    ol.expanded {
        font-size: 12pt;
        display: table;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
        content: '';
        display: none;
    }
}
