<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Moonlight Core</title>
    <link href="res/style.css" rel="stylesheet">
</head>

<body>
    <nav tabindex="1"></nav>
    <div class="content">
        {{{content}}}
    </div>

    <script src="res/jquery-3.2.1.min.js"></script>
    <script src="res/index.js"></script>
</body>

</html>